* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.font-display {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.font-mono {
  font-family: 'DM Mono', monospace;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

textarea, input {
  font-family: inherit;
}
